body {
    padding: 50px;
    background: white;
    color: black;
}

h1 {
    font-family: 'Helvetica neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #999;
    text-align: center;
}

#notSupported {
    display: none;
}

#notSupported h1 {
    color: #b41a1a;
    margin-bottom: 20px;
}

#notSupported img {
    display: block;
    margin: 0 auto;
}

#ascii {
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -1.5px;
    text-align: center;
}

#button {
    border: none;
    margin: 0.5em;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }

#button2 {
    border: none;
    margin: 0.5em;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button2:hover {
    border: 1px solid white;
   }
   
   button2:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }

#buttons {
    display: flex;
    justify-content: center;
}
